<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <title>Django Cards</title>
</head>

<body>

    <div style="display: flex; flex-direction: row; flex-wrap: wrap">

        {% for card in cards %}
        {# Single Card Template:#}
        <div class="card" style="width: 18rem; margin: 10px">
            <img src="{{ card.image }}" class="card-img-top">
            <div class="card-body">
                <div style="display: flex; flex-direction: row">
                    <h5 class="card-title">{{ card.name }}</h5>
                    {# Colored cirlce:#}
                    <div style="
                        background: {{ card.color }};
                        width: 20px;
                        height: 20px;
                        margin-left: 10px;
                        border-radius: 50%;
                        "></div>
                </div>
                <p class="card-text">{{ card.description }}</p>
                <a href="/command/{{ card.id }}/color" class="btn btn-primary">Change Color</a>
                <a href="/command/{{ card.id }}/delete" class="btn btn-primary">Delete</a>
            </div>
        </div>
        {% endfor %}

    </div>

</body>

</html>