{% extends '_base.html' %}

{% block pageTitle %}Dashboard{% endblock pageTitle %}

{% block content %}
<style>
    #content-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
        align-content: stretch;
        height: 100vh;
    }

    #event-list {
        order: 1;
        flex-basis: 60%;
        /* background-color: red; */
    }

    #google-map {
        order: 2;
        flex-basis: 40%;
        /* background-color: green; */
    }
</style>
<div id="content-wrapper">
    <div id="event-list">
        {% for event_i in events %}
            {% component "event" eventname=event_i.eventname organization=event_i.organization link=event_i.link date_and_time=event_i.date_and_time location=event_i.location placeid=event_i.placeid %}
        {% endfor %}
    </div>
    <div id="google-map">
        google map
        <iframe width="600" height="450" style="border:0" loading="lazy" allowfullscreen
        src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJZQ9c8IW8woARN0gTXFiTqSU&key=AIzaSyAFYSVqdgFsiww6aTS_DLN40bzofjB6fMA"></iframe>
    </div>

</div>
{% endblock content %}